html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#prompt {
    padding: 10px 0px;
    border-bottom: 1px solid #eee;
}

#canvas-frame {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #fff;
    background-size: cover;
}